.button {
    padding: .2em;
    border-radius: 5px;
    border: 1px solid #000;
    // color: #000;
    cursor: pointer;
    display: flex;

    &.utlined {
        color: red; 
    }

    &.contained {
        background-color: black; 
    }
}